/* Définition des polices et du style global */
@font-face {
    font-family: 'GeorgeRoundedRegular';
    src: url('../source/george_rounded_font/GeorgeRoundedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f5f5f7;
    font-family: 'GeorgeRoundedRegular', sans-serif;
}

/* Styles pour le container principal des cartes */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permet aux cartes de retourner à la ligne */
    align-items: center; /* Centre les cartes verticalement */
    margin: 0 auto; /* Centre le container */
    padding: 100px 250px 20px; /* Ajout de padding-top pour espacer avec le header */
    max-width: 1200px; /* Largeur maximale du container */
  }
  

/* Style de la carte */
.card {
    width: 150px;
    margin: 10px; /* Marge entre les cartes */
    height: 170px;
    border-radius: 10px;
    background: #ac38ff94;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Effet de transition sur la carte */
.card::before {
    content: "";
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40%;
    left: -20%;
    border-radius: 50%;
    border: 35px solid rgba(105, 105, 105, 0.102);
    transition: all .8s ease;
    filter: blur(.5rem);
    pointer-events: none;
}

.card:hover::before {
    width: 140px;
    height: 140px;
    top: -30%;
    left: 50%;
    filter: blur(0rem);
}

/* Style du texte de la carte */
.card-text {
    flex-grow: 1;
    padding: 5%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-weight: 900;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    font-size: 20px;
}

/* Style des icônes de la carte */
.card-icons {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 150px;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
}

/* Style des boutons de la carte */
.card-btn {
    border: none;
    padding-bottom: 2%;
    padding-top: 2%;
    width: 75px;
    height: 45px;
    background-color: #ac38ff94;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn:hover {
    background-color: #ffffff92;
    cursor: pointer;
}

/* Style des popups */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.popup.open {
    opacity: 1;
}

.popup-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slide-down 0.3s ease-out;
}

/* Style du bouton de fermeture du popup */
.popup-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-close:hover,
.popup-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-header {
    margin-bottom: 20px;
}

.popup-header p {
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-header div {
    margin-bottom: 10px;
}


/* Style de la popuptable */
.popup-table {
    overflow-x: auto;
    margin-top: 20px;
}

.popup-table table {
    width: 100%;
    border-collapse: collapse;
}

.popup-table th, .popup-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.popup-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.popup-table .td-header {
    background-color: #e0e0e0;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.popup-table .tp-header {
    background-color: #d0d0d0;
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}

.popup-table input[type="number"] {
    width: 100%;
}

.popup-table input[type="checkbox"] {
    display: block;
    margin: auto;
}


/* Styles pour les notifications */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1001;
}

.notification.show {
    opacity: 1;
}

.notification .close-btn {
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

.notification.error {
    background-color: #f44336; /* Red */
}

.notification.success {
    background-color: #4CAF50; /* Green */
}
