/* Styles pour le header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* Styles pour le logo */
.dlogo {
  margin-bottom: 5px; /* Marge inférieure du logo */
}

.logo {
  width: 200px; /* Largeur du logo */
}

/* Styles pour la barre de navigation */
.navbar {
  display: flex;
  height: 40px; /* Hauteur de la barre de navigation */
  width: 320px; /* Largeur de la barre de navigation */
  background-color: rgb(173, 56, 255, 0.5); /* Couleur de fond avec transparence */
  justify-content: center; /* Centrage horizontal des éléments */
  border-radius: 10px; /* Bord arrondi */
  transition: 1s; /* Effet de transition */
  padding: 10px; /* Espacement interne */
  overflow: hidden; /* Cache les éléments dépassant */
  position: relative; /* Positionnement relatif */
  margin-left: 800px; /* Marge à gauche */
}

/* Styles pour les boutons de la barre de navigation */
.value {
  font-weight: bold; /* Gras */
  font-size: 15px; /* Taille de la police */
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espacement intérieur */
  color: rgb(0, 0, 0); /* Couleur du texte */
  display: flex; /* Affichage en flex */
  cursor: pointer; /* Curseur pointer */
  border-radius: 10px; /* Bord arrondi */
  transition: 1s; /* Effet de transition */
  box-sizing: border-box; /* Boîte de modèle */
}

/* Styles pour les boutons de la barre de navigation au survol */
.value:not(:active):hover,
.value:focus {
  color: #000000; /* Changement de couleur au survol */
}

/* Styles pour les boutons de la barre de navigation au focus ou clic */
.value:focus,
.value:active {
  background-color: #ad38ff; /* Fond coloré */
  outline: none; /* Pas de contour */
  margin-left: 17px; /* Marge à gauche */
}

/* Styles pour l'indicateur de focus sur les boutons de la barre de navigation */
.value::before {
  content: ""; /* Contenu vide */
  position: absolute; /* Positionnement absolu */
  top: 5px; /* Position top */
  left: -15px; /* Position left */
  width: 5px; /* Largeur */
  height: 80%; /* Hauteur */
  background-color: #ad38ff; /* Couleur */
  border-radius: 5px; /* Bord arrondi */
  opacity: 0; /* Opacité initiale */
  transition: 1s; /* Effet de transition */
}

/* Styles pour l'indicateur de focus sur les boutons de la barre de navigation au focus ou clic */
.value:focus::before,
.value:active::before {
  opacity: 1; /* Opacité */
}

/* Styles pour le flou et la réduction de taille au survol de la barre de navigation */
.navbar:hover > :not(.value:hover) {
  transition: 300ms; /* Effet de transition */
  filter: blur(1px); /* Flou */
  transform: scale(0.95); /* Réduction de taille */
}
